@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Độ rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 5px; /* Bo tròn viền của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của thanh cuộn khi di chuột qua */
}
